Distribution v1.1 Conformance

Tracking conformance to Distribution Spec v1.1. We will go beyond just passing the conformance test, and make sure that everything mentioned in the spec is implemented, with the exception of Docker-specific features.

For details, see the [Distribution spec](https://github.com/opencontainers/distribution-spec/blob/v1.1.0/spec.md).

> ### Requirements
> 
> Registry conformance applies to the following workflow categories:
> 
>  1. Pull - Clients are able to pull from the registry
>  2. Push - Clients are able to push to the registry
>  3. Content Discovery - Clients are able to list or otherwise query the content stored in the registry
>  4. Content Management - Clients are able to control the full life-cycle of the content stored in the registry
> 
> All registries conforming to this specification MUST support, at a minimum, all APIs in the Pull category.
> 
> Registries SHOULD also support the Push, Content Discovery, and Content Management categories. A registry claiming conformance with one of these specification categories MUST implement all APIs in the claimed category.

## Pull

- [ ] You MAY retrieve content from the registry in any order.

### Pulling manifests

- [ ] `<reference>` MUST be either (a) the digest of the manifest or (b) a tag.
- [ ] The `<reference>` MUST NOT be in any other format.
- [ ] `<name>` MUST match `[a-z0-9]+((\.|_|__|-+)[a-z0-9]+)*(\/[a-z0-9]+((\.|_|__|-+)[a-z0-9]+)*)*`
- [ ] `<name>` SHOULD have a reasonable length limit. (Let's say 150?) 
- [ ] `<reference>` as a tag MUST be at most 128 characters in length and MUST match the following regular expression: `[a-zA-Z0-9_][a-zA-Z0-9._-]{0,127}`
- [ ] The client SHOULD include an `Accept` header indicating which manifest content types it supports. (So the server should check the `Accept` header.)
- [x] In a successful response, the `Content-Type` header will indicate the type of the returned manifest.
- [x] The registry SHOULD NOT include parameters on the `Content-Type` header.
- [x] The `Content-Type` header SHOULD match what the client [pushed as the manifest's `Content-Type`](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#pushing-manifests).
- [ ] If the manifest has a `mediaType` field, clients SHOULD reject unless the `mediaType` field's value matches the type specified by the `Content-Type` header.
- [x] A GET request to an existing manifest URL MUST provide the expected manifest, with a response code that MUST be `200 OK`.
- [x] If the manifest is not found in the repository, the response code MUST be `404 Not Found`.

### Pulling blobs

- [x] A GET request to an existing blob URL MUST provide the expected blob, with a response code that MUST be `200 OK`.
- [x] If the blob is not found in the repository, the response code MUST be `404 Not Found`.
- [ ] A registry SHOULD support the `Range` request header in accordance with [RFC 9110](https://www.rfc-editor.org/rfc/rfc9110.html#name-range-requests).

### Checking if content exists in the registry

- [x] A HEAD request to an existing blob or manifest URL MUST return `200 OK`.
- [x] A successful response SHOULD contain the size in bytes of the uploaded blob in the header `Content-Length`.
- [x] If the blob or manifest is not found in the repository, the response code MUST be `404 Not Found`.

## Push

- [ ] A registry MUST initially accept an otherwise valid manifest with a `subject` field that references a manifest that does not exist in the repository, allowing clients to push a manifest and referrers to that manifest in either order. 
- [ ] A registry MAY reject a manifest uploaded to the manifest endpoint with descriptors in other fields that reference a manifest or blob that does not exist in the registry.
- [ ] When a manifest is rejected for this reason, it MUST result in one or more `MANIFEST_BLOB_UNKNOWN` errors.

### Pushing blobs

There are two ways to push blobs: chunked or monolithic.

***Note:** In practice there is a third: streamed uploads. Podman does this. It is not part of the spec.*

#### Pushing a blob monolithically

##### POST then PUT

- [x] When obtaining a session ID, the response MUST have a code of `202 Accepted`, and MUST include the following:
  - [x] Header `Location: <location>`
    - [x] The `<location>` MUST contain a UUID representing a unique session ID for the upload to follow.
    - [x] Optionally, the location MAY be absolute (containing the protocol and/or hostname), or it MAY be relative (containing just the URL path).
- [x] Perform the upload proper by making a PUT request with the following headers and body:
  - [x] Header: `Content-Length: <length>`
  - [x] Header: `Content-Type: application/octet-stream`
  - [x] Body: `<upload byte stream>`
- [x] The `<location>` MAY contain critical query parameters.
- [x] Additionally, it SHOULD match exactly the `<location>` obtained from the POST request.
- [x] It SHOULD NOT be assembled manually by clients except where absolute/relative conversion is necessary.
- [x] Upon successful completion of the request, the response MUST have code `201 Created` and MUST have the following:
  - [x] Header: `Location: <blob-location>`

##### Single POST

- [x] Registries MAY support pushing blobs using a single POST request.
- [x] The POST request MUST contain:
  - [x] Query: `digest=<digest>`
  - [x] Header: `Content-Length: <length>`
  - [x] Header: `Content-Type: application/octet-stream`
  - [x] Body: `<upload byte stream>
- [x] The `Content-Length` header MUST match the blob's actual content length.
- [x] Likewise, the `<digest>` MUST match the blob's digest.
- [x] Registries that do not support single request monolithic uploads SHOULD return a `202 Accepted` status code and `Location` header and clients SHOULD proceed with a subsequent PUT request, as described by the [POST then PUT upload method](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#post-then-put).
- [x] Successful completion of the request MUST return a `201 Created` and MUST include the following:
  - [x] Header: `Location: <blob-location>`

#### Pushing a blob in chunks

- [x] The POST request to obtain a session ID MUST include the following header: `Content-Length: 0`
- [ ] If the registry has a minimum chunk size, the POST response SHOULD include the following header, where `<size>` is the size in bytes: `OCI-Chunk-Min-Length: <size>`
- [x] To upload a chunk, issue a PATCH request to a URL path in the following format, and with the following:
  - [x] Path: `<location>`
  - [x] Header: `Content-Type: application/octet-stream`
  - [x] Header: `Content-Range: <range>`
  - [x] Header:  `Content-Length: <length>`
  - [x] Body: `<upload byte stream of chunk>`
- [x] The <range> refers to the byte range of the chunk, and MUST be inclusive on both ends.
- [x] The first chunk's range MUST begin with `0`.
- [x] It MUST match the following regular expression: `^[0-9]+-[0-9]+$`
- [ ]  If the registry provides an `OCI-Chunk-Min-Length` header in the POST response, the size of each chunk, except for the final chunk, SHOULD be greater or equal to that value. 
- [ ] The final chunk MAY have any length.
- [x] Each successful chunk upload MUST have a 202 Accepted response code, and MUST have the following headers:
  - [x] `Location: <location>
  - [x] `Range: 0-<end-of-range>`
- [ ] Chunks MUST be uploaded in order, with the first byte of a chunk being the last chunk's <end-of-range> plus one.
- [x] If a chunk is uploaded out of order, the registry MUST respond with a `416 Requested Range Not Satisfiable` code.
- [x] The final chunk MAY be uploaded using a PATCH request or it MAY be uploaded in the closing PUT request. 
- [x] Regardless of how the final chunk is uploaded, the session MUST be closed with a PUT request.
- [x] Close the session with a PUT request with the following headers (and optional body, depending on whether or not the final chunk was uploaded already via a PATCH request):
  - [x] Path: `<location>?digest=<digest>`
  - [x] Header: `Content-Length: <length of chunk, if present>`
  - [x] Header: `Content-Range: <range of chunk, if present>`
  - [x] Header: `Content-Type: application/octet-stream <if chunk provided>`
  - [x] Body: `<final chunk of byte stream>`
 - [x] The closing PUT request MUST include the `<digest>` of the whole blob (not the final chunk) as a query parameter.
 - [x] The response to a successful closing of the session MUST be 201 Created, and MUST contain the following header: `Location: <blob-location>`
 - [x] The response to an active upload <location> MUST be a `204 No Content` response code, and MUST have the following headers:
   - [x] `Location: <location>`
   - [x] `Range: 0-<end-of-range>`

#### Mounting a blob from another registry

- [ ] The response to a successful mount MUST be 201 Created, and MUST contain the following header: `Location: <blob-location>`
- [ ] The registry MAY treat the from parameter as optional, and it MAY cross-mount the blob if it can be found.
- [ ] Alternatively, if a registry does not support cross-repository mounting or is unable to mount the requested blob, it SHOULD return a 202. This indicates that the upload session has begun and that the client MAY proceed with the upload.

### Pushing manifests

- [x] Clients SHOULD set the Content-Type header to the type of the manifest being pushed.
- [x] The client SHOULD NOT include parameters on the Content-Type header (see [RFC7231](https://www.rfc-editor.org/rfc/rfc7231#section-3.1.1.1)).
- [x] The registry SHOULD ignore parameters on the Content-Type header.
- [x] All manifests SHOULD include a mediaType field declaring the type of the manifest being pushed.
- [ ] If a manifest includes a mediaType field, clients MUST set the Content-Type header to the value specified by the mediaType field.
- [ ] `<name>` is the namespace of the repository, and the `<reference>` MUST be either a) a digest or b) a tag.
- [ ] The uploaded manifest MUST reference any blobs that make up the object. However, the list of blobs MAY be empty.
- [x] The registry MUST store the manifest in the exact byte representation provided by the client.
- [x] Upon a successful upload, the registry MUST return response code 201 Created, and MUST have the following header: `Location: <location>`
- [ ] An attempt to pull a nonexistent repository MUST return response code 404 Not Found.
- [ ] A registry SHOULD enforce some limit on the maximum manifest size that it can accept.
- [ ] A registry that enforces this limit SHOULD respond to a request to push a manifest over this limit with a response code `413 Payload Too Large`.
- [ ] Client and registry implementations SHOULD expect to be able to support manifest pushes of at least 4 megabytes.

#### Pushing Manifests with Subject

- [x] When processing a request for an image manifest with the `subject` field, a registry implementation that supports the [referrers API](https://github.com/opencontainers/distribution-spec/blob/main/spec.md#listing-referrers) MUST respond with the response header `OCI-Subject: <subject digest>` to indicate to the client that the registry processed the request's `subject`.

## Content Discovery

### Listing Tags

- [x] Assuming a repository is found, this request MUST return a 200 OK response code.
- [x] The list of tags MAY be empty if there are no tags on the repository.
- [x] If the list is not empty, the tags MUST be in lexical order (i.e. case-insensitive alphanumeric order).
- [x] Upon success, the response MUST be a json body in the following format:
```json
{
  "name": "<name>",
  "tags": [
    "<tag1>",
    "<tag2>",
    "<tag3>"
  ]
}
```

- [x] In addition to fetching the whole list of tags, a subset of the tags can be fetched by providing the n query parameter. 
- [ ] The response to such a request MAY return fewer than `<int>` results, but only when the total number of tags attached to the repository is less than `<int>` or a `Link` header is provided.
- [x] Otherwise, the response MUST include `<int>` results.
- [ ] A Link header MAY be included in the response when additional tags are available.
  - [ ] If included, the `Link` header MUST be set according to [RFC5988](https://www.rfc-editor.org/rfc/rfc5988.html) with the Relation Type `rel="next"`.
- [x] When `n` is zero, this endpoint MUST return an empty list, and MUST NOT include a `Link` header.
- [x] Without the `last` query parameter (described next), the list returned will start at the beginning of the list and include `<int>` results.
  - [x] As above, the tags MUST be in lexical order.
- [x] A list tags request including the `last` query parameter will return up to <int> tags, beginning non-inclusively with <tagname>. That is to say, <tagname> will not be included in the results, but up to <int> tags after <tagname> will be returned.
- [x] When using the last query parameter, the `n` parameter is OPTIONAL.

### Listing Referrers

- [x] Assuming a repository is found, this request MUST return a `200 OK` response code.
- [x] If the registry supports the referrers API, the registry MUST NOT return a `404 Not Found` to a referrers API requests.
- [x]  If the request is invalid, such as a `<digest>` with an invalid syntax, a `400 Bad Request` MUST be returned.
- [x] Upon success, the response MUST be a JSON body with an image index containing a list of descriptors.
- [x] The `Content-Type` header MUST be set to `application/vnd.oci.image.index.v1+json`.
- [x] Each descriptor is of an image manifest or index in the same `<name>` namespace with a `subject` field that specifies the value of `<digest>`.
- [x]  The descriptors MUST include an `artifactType` field that is set to the value of the `artifactType` in the image manifest or index, if present.
- [x] If the `artifactType` is empty or missing in the image manifest, the value of `artifactType` MUST be set to the config descriptor `mediaType` value.
- [x] If the `artifactType` is empty or missing in an index, the `artifactType` MUST be omitted.
- [x] The descriptors MUST include annotations from the image manifest or index.
- [x] If a query results in no matching referrers, an empty manifest list MUST be returned.
- [ ] A `Link` header MUST be included in the response when the descriptor list cannot be returned in a single manifest.
- [ ] Each response is an image index with different descriptors in the manifests field.
- [ ] The `Link` header MUST be set according to [RFC5988](https://www.rfc-editor.org/rfc/rfc5988.html) with the Relation Type `rel="next"`.
- [x] The registry SHOULD support filtering on `artifactType`.
- [x] If filtering is requested and applied, the response MUST include a header `OCI-Filters-Applied: artifactType` denoting that an `artifactType` filter was applied.
- [ ] If multiple filters are applied, the header MUST contain a comma separated list of applied filters.

## Content Management

_**Note:** It may be interesting to provide options on if and how deletion is permitted._

- [ ] Registries MAY implement deletion or they MAY disable it.
- [ ] Similarly, a registry MAY implement tag deletion, while others MAY allow deletion only by manifest.

### Deleting tags

- [x] Upon success, the registry MUST respond with a `202 Accepted` code.
- [ ] If tag deletion is disabled, the registry MUST respond with either a `400 Bad Request` or a `405 Method Not Allowed`.

### Deleting Manifests

- [x] Upon success, the registry MUST respond with a `202 Accepted` code.
- [x] If the repository does not exist, the response MUST return `404 Not Found`.

### Deleting Blobs

- [x] Upon success, the registry MUST respond with code `202 Accepted`.
- [x] If the blob is not found, a `404 Not Found` code MUST be returned.
